.search {
  position: relative;
  display: flex;
}
.inputSearch {
  border-radius: 0 10px 10px 0;
}
.selectSearch {
  width: 20%;
  border-radius: 10px 0 0 10px;
}
.faSearch {
  position: absolute;
  right: 25px;
  top: 20px;
  font-size: 20px;
  z-index: 9999;
  cursor: pointer;
}
